.container {
  display: flex;
  justify-content: center;
}

.card {
  margin-bottom: 1.5rem;
  padding: 1.5rem;
  width: 80%;
  background-color: white;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  border-bottom: 3px solid #ff6b6b;
  margin-bottom: 1.5rem;
}
